<h2>会員情報編集</h2>

<%= render 'admin/customers/error_form', customer: @customer %>

<%= form_with model: @customer, url: customers_path, method: :patch do |f| %>

  <%= render '/admin/customers/customer_info',f: f %>

  <div class="actions">
    <%= f.submit "編集内容を保存" %>
  </div>
<% end %>

<%= link_to "退会する",customers_confirm_path %>
