<div class="row mb-2">
  <span class="col-md-4 col-lg-3">氏名</span>
  <%= f.text_field :last_name, autofocus: true, placeholder: "令和", class: "form-control col-md-3 col-lg-4" %>
  <span class="col-1"></span>
  <%= f.text_field :first_name, placeholder: "道子", class: "form-control col-md-3 col-lg-4" %>
</div>
<div class="row mb-2">
  <span class="col-md-4 col-lg-3">フリガナ</span>
  <%= f.text_field :last_name_kana, placeholder: "レイワ", class: "form-control col-md-3 col-lg-4" %>
  <span class="col-1"></span>
  <%= f.text_field :first_name_kana, placeholder: "ミチコ", class: "form-control col-md-3 col-lg-4" %>
</div>
<div class="row mb-2">
  <%= f.label :postal_code, "郵便番号", class: "form-label col-md-4 col-lg-3" %>
  <%= f.text_field :postal_code, placeholder: "0000000", class: "form-control col-md-7 col-lg-4" %>
</div>
<div class="row mb-2">
  <%= f.label :address, "住所", class: "form-label col-md-4 col-lg-3" %>
  <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control col-md-7 col-lg-9" %>
</div>
<div class="row mb-2">
  <%= f.label :telephone_number, "電話番号", class: "form-label col-md-4 col-lg-3" %>
  <%= f.text_field :telephone_number, placeholder: "00000000000", class: "form-control col-md-7 col-lg-4" %>
</div>
<div class="row mb-2">
  <%= f.label :email, "メールアドレス", class: "form-label col-md-4 col-lg-3" %>
  <%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com", class: "form-control col-md-7 col-lg-4" %>
</div>