<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-5 mb-5">
      <h2 class="bg-info text-white text-center p-1"><%= @customer.full_name %>さんの会員情報編集</h2>
    </div>
  </div>
  <%= render 'error_form', customer: @customer %>
  <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
    <div class="row mb-3">
      <span class="col-md-4 col-lg-3">会員ID</span>
      <div class="col-md-8 col-lg-4">
        <p>
          <%= @customer.id %>
        </p>
      </div>
    </div>
    <%= render 'customer_info', f: f %>
    <div class="row mb-3">
      <span class="col-md-4 col-lg-3">会員ステータス</span>
      <div class="col-md-2 col-lg-1">
        <%= f.radio_button :is_active, "true" %>
        <%= f.label :is_active, "有効" %>
      </div>
      <div class="col-md-2 col-lg-1">
        <%= f.radio_button :is_active, "false" %>
        <%= f.label :is_active, "退会" %>
      </div>
  </div>
    <div class="row mb-3">
      <div class="col-md-4 col-lg-3"></div>
      <%= f.submit "変更を保存", class: "btn btn-success col-md-4 col-lg-3" %>
    </div>
  <% end %>
</div>