<h2>配送先編集</h2>

<%= form_with model: @address, url: address_path(@address.id), method: :patch do |f| %>
<%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
<%= f.text_field :postal_code, autofocus: true %>
<%= f.label :address, "住所" %>
<%= f.text_field :address %>
<%= f.label :name, "宛名" %>
<%= f.text_field :name %>
<%= f.submit "変更内容を保存" %>
<% end %>
