<div class="container">
  <div class="row">
    <div class=" col-md-3 col-lg-2">
      <%= render 'genre_search', genres: @genres %>
    </div>
    <div class="col-md-8 col-lg-9 mb-3">
      <h3 class="mb-2"><%= @genre.name %>一覧<span> (全<%= @items.count %>件)</span></h3>
      <%= render 'item_info', items: @items %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <%= paginate @items %>
    </div>
  </div>
</div>
