<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 mb-1 text-danger">
      <% if @cart_item.errors.any? %>
        <%= @cart_item.errors.count %>件のエラーが発生しました
        <ul>
          <% @cart_item.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class=" col-md-3 col-lg-2">
      <%= render 'public/items/genre_search', genres: @genres %>
    </div>
    <div class="col-md-8 col-lg-9 mb-3">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <%= attachment_image_tag @item, :image, format: 'jpeg', size: '150x150', fallback: "no_image.jpg" %>
        </div>
        <div class="col-md-8 mx-auto">
          <p class="font-weight-bold">
            <%= @item.name %>
          </p>
          <p>
            <%= @item.introduction %>
          </p>
          <p class="font-weight-bold">
            <%= @item.with_tax_price.to_s(:currency, format: "%u%n", unit: "¥", precision:0 ) %><span>(税込)</span>
          </p>
          <% if @item.is_active %>
            <p class="font-weight-bold text-success">販売中</p>
            <% if customer_signed_in? %>
              <%= form_with model: @cart_item, url: cart_items_path, class: "form-inline" do |f| %>
                <%= f.select :amount, *[1..10], { include_blank: "個数選択" }, {class: "form-control"} %>
                <%= f.hidden_field :item_id, :value => @item.id %>
                <%= f.submit "カートに入れる", class: "btn btn-sm btn-success ml-3" %>
              <% end %>
            <% end %>
          <% else %>
            <p class="font-weight-bold text-muted">売切れ</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

